/* fonts */

div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud a:hover { color: #0cf; }
div.jqcloud span.w22 { color: #5b2c6f; }
div.jqcloud span.w21 { color: #004000; }
div.jqcloud span.w20 { color: #6b417d; }
div.jqcloud span.w19 { color: #222; }
div.jqcloud span.w18 { color: #7b568b; }
div.jqcloud span.w17 { color: #e55a76; }
div.jqcloud span.w16 { color: #512763; }
div.jqcloud span.w15 { color: #cc0000; }
div.jqcloud span.w14 { color: #482358; }
div.jqcloud span.w13 { color: #c71585; }
div.jqcloud span.w12 { color: #8842a6; }
div.jqcloud span.w11 { color: #d3ffce; }
div.jqcloud span.w10 { color: #0cf; }
div.jqcloud span.w9 { color: #e1cd66; }
div.jqcloud span.w8 { color: #0cf; }
div.jqcloud span.w7 { color: #eeff43; }
div.jqcloud span.w6 { color: #43eeff; }
div.jqcloud span.w5 { color: #e55a76; }
div.jqcloud span.w4 { color: #90c5f0; }
div.jqcloud span.w3 { color: #B243FF; }
div.jqcloud span.w2 { color: #99ccee; }
div.jqcloud span.w1 { color: #5b2c6f; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }